<html>
    
    <link rel="stylesheet" href="/resources/css/tailwind.css">
    <script defer src="/resources/js/index.js"></script>

    <form id="form" class="formulario w-full flex flex-col shadow-md p-4 rounded-md bg-blue-600 bg-opacity-30 ">
        <p class="text-2xl m-4 text-center font-bold">Vehiculos</p>

        <label for="placa">ciudad de donde sale:</label>
        <select class="inputs" id="ciudad"></select>

        <label for="placa">Lugar al que viaja:</label>
        <select class="inputs" id="ciudadDestino"></select>

        <label for="identificador">Fecha y hora:</label>
        <select class="inputs" id="fecha"></select>



        <div class="shadow-xl mx-auto justify-center items-center w-96 flex flex-wrap gap-4" id="sillas">
            <div class="w-16 bg-green-400 p-1 cursor-pointer hover:bg-green-600 rounded-md hidden">
                <img src="./resources/assets/sillas.png" alt="">
            </div>
            <div class="w-16 bg-red-400 p-1 rounded-md hidden">
                <img src="./resources/assets/sillas.png" alt="">
            </div>
            <div class="w-16 bg-yellow-300 p-1 rounded-md hidden" title="Reservado">
                <img src="./resources/assets/sillas.png" alt="">
            </div>
            <div class="w-16 hidden"> </div>
        </div>

        <div class="mx-auto mt-4">
            <button type="submit" class="border-transparent rounded-md text-white bg-blue-700 py-1 px-8 hover:bg-blue-900">Aceptar</button>
            <button type="reset" class="border-transparent rounded-md text-white bg-blue-700 py-1 px-8 hover:bg-blue-900">Cancelar</button>
        </div>
    </form>
</html>